$xxxxs: 0.25rem; // 4px
$xxxs: 0.375rem; // 6px
$xxs: 0.5rem; // 8px
$xs: 0.626rem; // 10px
$sm: 0.75rem; // 12px
$md: 0.875rem; // 14px
$base: 1rem; // 16px
$lg: 1.25rem; // 20px
$xlg: 1.5rem; // 24px
$xxlg: 1.75rem; // 28px
$xxxlg: 2rem; // 32px
