@font-face {
  font-family: "Notototo";
  src: url("/fonts/notototo/NotoSerifToto-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/worksans/WorkSans-SemiBold.ttf") format("truetype");
}

@mixin typography-base(
  $font-size,
  $font-weight,
  $line-height,
  $letter-spacing
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

/*** Headings ***/
.typography-h1 {
  @include typography-base(3.75rem, 300, 1.5, -0.02em);
}

.typography-h2 {
  @include typography-base(3rem, 500, 1.5, -0.01em);
}

.typography-h3 {
  @include typography-base(2.125rem, 500, 1.5, 0.01em);
}

/*** Body ***/
%typography-body1 {
  @include typography-base(1rem, 400, 1.5, 0.02em); // Extend for App.vue
}

.typography-body1 {
  @extend %typography-body1;
}

.typography-label {
  @include typography-base(0.75rem, 600, 1.125, 0.06em);
  text-transform: uppercase;
}

$font-family: "Notototo", "Worksans", Helvetica, Arial, sans-serif;
